@font-face {
    font-family: "Balsamiq sans istok web zip";
    src: url(fonts/Balsamiq_Sans\,Istok_Web.zip);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }
  :root {
    --primary-color: #EFECF5;
    --accent-color: #F89623;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/367419531_250538761150591_4721836890151511756_n.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  
  nav {
    display: flex;
    /* padding: 2% 6%; */
    justify-content: space-between;
    align-items: center;
    /* position: absolute;
    margin-left: 43px; */
  }
  
  nav .imgrow {
    width: 100px;
    line-height: 3rem;
    position: relative;
    top: 1rem;
  }
  
  .nav-links {
    flex: 1;
    text-align: center;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 12px 30px;
    position: relative;
  }
  
  .nav-links ul li a {
    color: #EFECF5;
    text-decoration: none;
    font-size: 10px;
  }
  
  #regist {
    border: 1px solid;
    border-radius: 30px;
    padding: 7px;
    font-size: 10px;
  }
  
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }
  
  .text-box {
    width: 80%;
    height: 100%;
    display: f;
    color: #EFECF5;
    position: absolute;
    top: 30%;
    left: 10%;
    transform: -50%, -50%;
    text-align: center;
  }
  
  .text-box h1 {
    font-size: 32px;
  }
  
  .text-box .textp {
    font-size: 10px;
    margin: 10px 0 40px;
    padding: 4px;
    border-radius: 30px;
    color: #EFECF5;
    border: none;
    background: #F89623;
  }
  
  .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #EFECF5;
    border: 1px solid #EFECF5;
    padding: 2px 15px;
    border-radius: 30px;
    font-size: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  
  #hero-text {
    background: #F89623;
  }
  
  .hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
  }
  
  nav .fa {
    display: none;
  }
  
  @media (max-width: 700px) {
    .text-box h1 {
      font-size: 20px;
    }
    .nav-links ul li {
      display: block;
    }
    .nav-links {
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
    nav .fa {
      display: block;
      color: #EFECF5;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
    .nav-links ul {
      padding: 30px;
    }
  }
  .section-holder {
    position: relative;
  }
  section .container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px;
  }
  
  .container-box {
    margin: 100px auto;
    width: 85%;
    position: absolute;
    top: 100%;
    float: left;
    margin-bottom: 18rem;
   
  }
  
  .holder-parent{
    position: relative;
  }
  
  .box-1 {
    height: 80px;
    width: 80px;
    background: #FDDEBB;
    position: relative;
    top: 13rem;
    left: 13rem;
    z-index: -1;
    border-radius: 50%;
    font-family: "Balsamiq Sans";
  }
  
  .box-2 {
    position: relative;
    height: 80px;
    width: 80px;
    background: #FDDEBB;
    z-index: -1;
    border-radius: 50%;
    top: -8rem;
    right: -3rem;
  }
  
  .box-3 {
    height: 100px;
    width: 110px;
    background: #EFECF5;
    position: relative;
    top: 1rem;
    left: 12%;
    z-index: 1;
  }
  
  .texto {
    max-width: 180px;
    float: left;
    border-radius: 10px;
    border: 3px solid #EFECF5;
    margin-right: 20px;
    margin-left: 6rem;
    margin-top: 89px;
    position: relative;
    bottom: 23rem;
    left: -1rem;
  }
  
  .textpara{
    position: relative;
  }
  
  .textpara h1 {
    font-size: 30px;
    padding: 10px;
    color: #5E3D98;
    margin-top: 7rem;
    margin-left: 70px;
    position: relative;
    top: -20rem;
    left: 1rem;
  }
  
  .textpara p {
    font-size: 10px;
    font-family: "Balsamiq Sans";
    font-weight: 400;
    color: #333333;
    position: relative;
    top: -21rem;
    left: 1rem;
  }
  
  .textpara-head {
    font-size: 10px;
    color: #F89623;
    position: relative;
    top: 100px;
    margin-left: 5rem;
    font-family: " Balsamiq Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    top: -13rem;
    left: 1rem;
  }
  
  
  .container-boxall {
    position: relative;
  }
  
  
  .textpara .hero-btn{
    font-family: "Balsamiq Sans";
    padding: 5px;
    border-radius: 30px 30px ;
    position: relative;
    top: -20rem;
    left: 1rem;
   
  }
  
  
  .section-holder {
    position: relative;
   
  }
  
  .image-holder{
    position: absolute;
    
  }
  
  
  
   .left{
    width: 227px;
    height: 561px;
    gap: 0px;
    opacity: 0px;
    right: 0%;
    
  }
  
  .right {
    width: 227px;
    height: 561px;
    gap: 0px;
    opacity: 0px;
    transform: rotate(180deg);
    left: 4%;
    z-index: -1;
  }
  
  
  .section-holder{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .tbox-3{
  font-family: 'Balsamiq Sans';
  font-size: 13px;
  font-weight: 700;
  color: #333333;
  text-align: left;
  }
  
  .hbox-3{
  font-family: 'Balsamiq Sans';
  font-size: 7px;
  font-weight: 400;
  text-align: left;
  color: #5E3D98;
  }
  
  .pbox-3{
    
  font-family: 'Balsamiq Sans';
  font-size: 9px;
  font-weight: 200;
  
  }
  
  
  
  .timeline-section{
    min-height: 100vh;
    padding: 90px 15px;
  
  }
  
  .timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 30rem;
    min-height: 100vh;
    width: 100%;
    background-color: #dfcefc;
  }
  
  .timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #2f363e;
    left: calc(50% - 1px);
  }
  
  .timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    font-size: 12px;
  }
  
  .timeline-item:last-child{
    margin-bottom: 0;
  }
  
  
  .timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
    text-align: left;
  }
  
  .timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
  }
  
  .timeline-dot{
    height: 16px;
    width: 16px;
    background-color: #F89623;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    
    top: 10px;
   
  }
  
  .timeline-date{
    font-size:12px;
    background: #5E3D98;
    border: 1px solid;
    color: #EFECF5;
    width: 60px;
    padding: 4px;
    text-align: center;
    position: absolute;
    top: -24px;
    border-radius: 30px;
    margin-left: 17px;
  }
  
  .timeline-content{
  
    position: relative;
  }
  
  .timeline-content h3{
    font-size: 20px;
    color: #5E3D98;
    margin: 0 0 10px;
    font-weight: bold;
  }
  
  .timeline-content p{
    color: #333333;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    width: 25rem;
  }
  
  .timeline-box4{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FDDEBB;
    top: -1rem;
    left: -1rem;
  }
  
  .timeline-box5{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FDDEBB;
    top: 3rem;
    right: 0rem;
    z-index: 0;
  }
  
  @media(max-width: 767px){
    .timeline-items::before{
      left: 7px;
    }
  
    .timeline-item:nth-child(odd){
      padding-right: 0;
      text-align: left;
    }
  
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
      padding-left: 37px;
    }
  
    .timeline-dot{
      left: 0;
    }
    
  }
  
  .image-handle{
    position: absolute;
    
  }
  
  
  .left1{
    width: 227px;
    height: 561px;
    gap: 0px;
    opacity: 0px;
    right: 0%;
    top: 23rem;
    z-index: -1;
    
  }
  
  .right1 {
    width: 227px;
    height: 561px;
    gap: 0px;
    opacity: 0px;
    transform: rotate(180deg);
    left: 4%;
    top: 23rem;
    z-index: -1;
  }
  
  
  .container-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
  }
  
  
  .image1-flex1{
    position: absolute;
    top: 28rem;
    left: 35rem;
  }
  
  .image1-flex1 .flex1{
    width: 300px;
  }
  
  .image1-flex{
    position: relative;
    top: 32rem;
    left: 25rem;
    
  }
  
  .others{
    position: relative;
    top: 30rem;
    font-family: 'Balsamiq Sans';
    font-size: 13px;
    width: 400px;
    left: 0rem;
  }
  
  
  .others h3{
    color: #F89623;
    font-family: 'Balsamiq Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
  }
  
  .others h1{
  font-family: 'Balsamiq Sans';
  font-size: 20px;
  font-weight: 700;
  color: #5E3D98;
  
  }
  
  .others P{
    font-family: 'Balsamiq Sans';
    font-size: 16px;
    font-weight: 400;
    position: absolute;
  }
  
  .btnt{
    background: #5E3D98;
    color: #EFECF5;
    padding: 5px;
    font-size: 12px;
    border-radius: 30px;
    text-decoration: none;
    position: absolute;
    top: 12rem;
    transition: 0.5s;
  
  }
  
  .btnt:hover{
    color: #86f17c;
  }
  
  
  .container-logos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    top: 5rem;
    left: 0;
    background: #FFFFFF;
    
  
  }
  
  .logos {
    position: relative;
    background: #EFECF5;
    top: 40rem;
    left: 0%;
    min-height: 20vh;
  
  }
  .logo1 img{
    width: 150px;
    /* gap: 0px;
    opacity: 0px;
    width: 80%;
    height: 10px; */
  }
  
  .logo2 img{
    width: 150px;
    /* gap: 0px;
    opacity: 0px;
    width: 80%;
    height: 10px; */
  }
  .logo3 img{
    width: 150px;
    /* gap: 0px;
    opacity: 0px;
    width: 80%;
    height: 10px; */
  }
  .logo4 img{
    width: 150px;
    /* gap: 0px;
    opacity: 0px;
    width: 80%;
    height: 10px; */
  }
  .logo5 img{
    width: 150px;
    /* gap: 0px;
    opacity: 0px;
    width: 80%;
    height: 10px; */
  }
  .logo6 img{
    width: 150px;
    /* gap: 0px;
    opacity: 0px;
    width: 70%;
    height: 10px;
    margin: 1rem;
    margin-left: 2rem; */
  }
  
  
  .container-row1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    top: 40rem;
    min-height: 100vh;
    min-width: 100%;
  
    background: rgba(200, 231, 200, 0.3)
  }
  
  .holder-parent2{
    position: relative;
   
  }
  
  .box-4{
    height: 80px;
    width: 80px;
    background: #FDDEBB;
    position: relative;
    top: -8rem;
    left: -15rem;
    z-index: 1;
    border-radius: 50%;
    font-family: "Balsamiq Sans";
  }
  .box-5 {
    height: 90px;
    width: 90px;
    background: rgba(200, 231, 200, 0.3);
    position: relative;
    top: -13rem;
    left: -10rem;
    z-index: 1;
    border-radius: 70%;
    font-family: "Balsamiq Sans";
  }
  
  .instro{
    position: absolute;
    font-family: 'Balsamiq Sans';
    font-size: 49px;
    font-weight: 700;
    line-height: 58.8px;
    top: -50%;
  }